@inherits LayoutComponentBase

<header>
    <h1>Job Application Assistant</h1>
</header>

<main>
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
